@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

:root {
    --azul: #3DA5D9;
    --font: #bbbbbb;
    --background: #181818;
    --title: #dddddd;
    --background2: #0c0c0c;
    --laranja: #EA7317;
}

body {
    font: normal 1.1em Arial, Helvetica, sans-serif;
    background-color: var(--background);
    color: var(--font);
}

header {
    text-align: center;
    padding: 30px 0;
}

header > h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 3em;
    color: #FFF;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.288);
}

.summary, .preamble, .main {
    width: 60%;
    float: left;
    text-align: justify;
}

h1 {
    margin: 10px;
}

h3 {
    text-align: center;
    margin: 20px 0 20px 0;
}

p {
    padding: 0 10px;
    margin: 20px auto;
    max-width: 600px;
}

a {
    color: var(--azul);
    text-decoration: none;
}
aside {
    float: left;
    width: 30%;
    background-color: var(--background2);
    margin: 0 3%;
}

aside h3 {
    margin: 10px
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: var(--laranja);
}

footer {
    clear: left;
    padding: 0 10px 0 10px;
    text-align: center;
}