@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

:root {
    --azul: #3DA5D9;
    --font: #bbbbbb;
    --background: #181818;
    --title: #dddddd;
    --background2: #0c0c0c;
    --laranja: #EA7317;
    --font1: 'Bebas Neue', cursive;
    --font2: 'Bitter', serif;
    --font3: 'Orbitron', sans-serif;
}

body {
    font: normal 1.1em Arial, Helvetica, sans-serif;
    background-color: var(--background);
    color: var(--font);
}

header {
    text-align: center;
    padding: 30px 0;
}

header > h1 {
    font-family: var(--font1);
    font-size: 3em;
    color: #FFF;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.288);
}

.summary, .preamble, .main {
    width: 60%;
    float: left;
    text-align: justify;
}

h1 {
    margin: 10px;
    font-size: 2.2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.5em;
    text-align: center;
    margin: 20px 0 20px 0;
}

h1, h2, h3 {
    font-family: var(--font2);
    color: var(--title);
}

p {
    padding: 0 10px;
    margin: 20px auto;
    max-width: 600px;
    line-height: 1.8em;
}

a {
    color: var(--azul);
    text-decoration: none;
}

.participation, .benefits {
    background-color: var(--background2);
    padding-top: 1px;
    padding-bottom: 1px;
}

#credit {
    font-family: var(--font3);
}

aside {
    float: left;
    width: 30%;
    background-color: var(--background2);
    margin: 0 3%;
}

aside h3 {
    margin: 10px
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: var(--laranja);
}

footer {
    clear: left;
    padding: 0 10px 0 10px;
    text-align: center;
}

footer a {
    padding: 10px;
    font-size: 1.2em;
    font-family: var(--font2);
}